<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="file">
	<select id="getList" parameterType="fileDto" resultType="fileDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num,writer,title,orgFileName,saveFileName,
					fileSize,regdate
				FROM board_file
				<choose>
					<when test="title != null and orgFileName != null">
						WHERE title LIKE '%${title}%' 
						OR orgFileName LIKE '%'||#{orgFileName}||'%'
					</when>
					<when test="title != null">
						WHERE title LIKE '%'||#{title}||'%'
					</when>
					<when test="writer != null">
						WHERE writer LIKE '%${writer}%'
					</when>
				</choose>
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND ${endRowNum}
	</select>
					<!-- 검색키워드를 dto에 담아서 null인지 null이 아닌지 판별해서 다이나믹 쿼리 구성 
				#{}는 ?로 해석해서 실행할 때 값을 넣어주고 ${}는 실행전에 미리 값을 넣고 실행함(전처리문)
				근데 속도는 #{}가 더 빠르다. 전처리문은 구성->실행해야해서 더 느림 -->
				
	<select id="getCount" parameterType="fileDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board_file
		<choose>
			<when test="title != null and orgFileName != null">
				WHERE title LIKE '%${title}%' 
				OR orgFileName LIKE '%'||#{orgFileName}||'%'
			</when>
			<when test="title != null">
				WHERE title LIKE '%'||#{title}||'%'
			</when>
			<when test="writer != null">
				WHERE writer LIKE '%${writer}%'
			</when>
		</choose>		
	</select>
	<!-- null일 때 0을 가져옴 -->
	
	<insert id="insert" parameterType="fileDto">
		insert into board_file
		(num, writer, title, orgFileName, saveFileName, fileSize, regdate)
		values(board_file_seq.nextval, #{writer}, #{title}, #{orgFileName}, #{saveFileName}, #{fileSize}, sysdate)
	</insert>
	
	
	<select id="getData" parameterType="int" resultType="fileDto">
		select num, writer, title, orgFileName, saveFileName, fileSize, regdate
		from board_file
		where num=#{num}
	</select>
	
	<delete id="delete" parameterType="int">
		delete from board_file
		where num=#{num}
	</delete>
	
</mapper>